<section data-ng-controller="BucketsController" data-ng-init="fill()">
    <h2>{{bucket.name}}</h2>
    <h3>filling {{bucket.name}}</h3>
		<p><img src="img/loaders/loader.gif"></p>
		
    <div data-ng-show="global.user._id == bucket.user._id">
        <a class="btn" href="/#!/buckets/{{bucket._id}}/fill" tooltip="load objects into db from s3 bucket">
        	<i class="icon-download"></i>
        </a> 
        <a class="btn" href="/#!/buckets/{{bucket._id}}/edit" tooltip="edit bucket">
        	<i class="icon-edit"></i>
        </a> 
        <a class="btn" data-ng-click="remove();" tooltip="delete bucket">
            <i class="icon-trash"></i>
        </a>
    </div>
    <br>
    <div>
         <table class="table table-hover">
              <tbody>
                <tr>
                  <td>region</td>
                  <td>{{bucket.region}}</td>
                </tr>
                <tr>
                  <td>prefix</td>
                  <td>{{bucket.prefix}}</td>
                </tr>
                <tr>
                  <td>access</td>
                  <td>{{bucket.access}}</td>
                </tr>
                <tr>
                  <td>total files</td>
                  <td>{{bucket.numObjects}}</td>
                </tr>
                <tr>
                  <td>last import</td>
                  <td>{{bucket.lastImport}}</td>
                </tr>
              </tbody>
         </table>
		</div>
</section>
